<!--
<form method="POST" action="" enctype="multipart/form-data">
  Name: <input type="text" name="name" />
  <br>
  Image: <input type="file" name="file" accept="image/*"/>
  <br>
  Audio: <input type="file" name="file_audio" accept="audio/*"/>
  <br>
  <input type="submit" value=Upload>
</form>

-->
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>


<body>
  <br>
  <div class="container">
<form method="POST" action="" enctype="multipart/form-data" class="form-horizontal">
  <fieldset>
  
  <!-- Form Name -->
  <legend><b>UPLOAD BOARDS:</b></legend>
  <hr>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Name</label>  
    <div class="col-md-4">
    <input id="textinput" name="name" type="text" placeholder="" class="form-control input-md">
      
    </div>
  </div>
  
  <!-- File Button --> 
  <div class="form-group">
    <label class="col-md-4 control-label" for="Image">Image</label>
    <div class="col-md-4">
      <input id="Image" type="file" name="file" accept="image/*" class="input-file">
    </div>
  </div>
  
  <!-- File Button --> 
  <div class="form-group">
    <label class="col-md-4 control-label" for="audio">Audio</label>
    <div class="col-md-4">
      <input id="audio" name="file_audio" accept="audio/*" class="input-file" type="file">
    </div>
  </div>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="Style">Style</label>  
    <div class="col-md-4">
    <input id="style" name="style" type="text" placeholder="" class="form-control input-md">
      
    </div>
  </div>
  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="Upload"></label>
    <div class="col-md-4">
      <button type="submit" value=Upload class="btn btn-success">Upload</button>
    </div>
  </div>
  
  </fieldset>
  </form>
</div>
  </body>
  </html>
